<% include ../_header %>
	<section id="main">
		<script type="text/javascript">
			var layoutEditor = (function(){
				return {
					set : {
						id: <%= set.id %>,
						grid_cols: <%= set.grid_cols %>,
						grid_rows: <%= set.grid_rows %>,
						cell_width: <%= set.cell_width %>,
						cell_height: <%= set.cell_height %>
					},
					types : [
						<% for ( var i = 0; i < types.length; i++ ) { %>
							'<%= types[i] %>',
						<% } %>
					]
				}
			})();
		</script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/javascripts/ejs_production.js"></script>
		<script src="/javascripts/layout.js" type="text/javascript"></script>
		<style type="text/css">@import url('/stylesheets/layout.css');</style>
		<h1><%= set.title %></h1>
		<div id="actions">
		<form action="#"><input type="submit" value="Save"> 
			<a href="http://dhayapp.local/#set/<%= set.path %>" target="_blank">View</a> 
			<a href="/admin/sets/<%= set.id %>/edit">Edit</a> 
			<a href="/admin/sets/<%= set.id %>/delete" confirm="Delete this set?">Delete</a>
		</form></div>
		<div id="layout-editor">
			<table class="grid">
				<% for ( var i = 0, iy = 0; iy < set.grid_rows; iy++ ) { %>
					<tr>
					<% for ( var ix = 0; ix < set.grid_cols; ix++ ) { %>
						<% if ( grid[iy] && grid[iy][ix] ) { %>
							<% var cell = grid[iy][ix]; %>
							<td class="grid-cell" 
								title="<%= cell.title %> (#<% cell.id %>), <%= cell.type %>"
								data-id="<%= cell.id %>" 
								data-x="<%= ix %>" 
								data-y="<%= iy %>"
								data-width="<%= cell.extra.width || 1 %>" 
								data-height="<%= cell.extra.height || 1 %>"
								<% if ( cell.preview ) { %>
								style="background-image:url('http://d35vpnmjdsiejq.cloudfront.net/dh/app/cells/<%= cell.preview %>')"
								<% } %>
								><% if ( !cell.preview ) { %><%= cell.id %><% } %></td>
						<% } else { %>
							<td class="grid-cell" data-id="" data-x="<%= ix %>" 
								data-y="<%= iy %>">.</td>
						<% } %>
						<% if ( ix === set.grid_cols-1 ) { %>
							<td class="add-x grid-cell" data-y="<%= iy %>">+</td>
						<% } %>
					<% } %>
					</tr>
				<% } %>
				<tr class="add-y">
					<% for ( var ix = 0; ix < set.grid_cols; ix++ ) { %>
						<td class="add-y grid-cell" data-x="<%= ix %>">+</td>
					<% } %>
					<td class="add-y add-x grid-cell" 
						data-x="<%= set.grid_cols %>" 
						data-y="<%= set.grid_rows %>">+</td>
				</tr>
			</table>
		</div>
		<div id="cells">
			<div class="filters">Filters go here ...</div>
			<% include ../cells/_list %>
		</div>
	</section>
<% include ../_footer %>