<style type="text/css">@import url('/stylesheets/cells.css');</style>
<script src="/javascripts/cells-edit.js" type="text/javascript"></script>
<div class="cell-list">
<% var cellsEditable = cellsEditable || false; %>
<% var typeHeading = false; %>
<% for ( var i = 0; i < cells.length; i++ ) { %>
	<% var cell = cells[i]; %>
	<% if ( typeHeading !== cell.type ) { %>
		<div class="type-group type-<%= cell.type %>">
			<div class="type-group-title">
				<a href="#" onclick="jQuery('.cell-list .cell.type-<%= cell.type %>').toggle(); return false">
					<%= cell.type.toUpperCase() %>
			</a></div>
		<% typeHeading = cell.type; %>
	<% } %>
	<div class="cell type-<%= cell.type %>" 
		 data-id="<%= cell.id %>" 
		 data-poster="<%= cell.poster || 'missing.jpg' %>" id="cell-<%= cell.id %>">
		<div class="poster">
			<img src="http://d35vpnmjdsiejq.cloudfront.net/dh/app/cells/poster/small/<%= cell.poster %>"/>
		</div>
		<div class="title"><a href="/admin/cells/<%= cell.id %>"><%= cell.title %></a></div>
		<div class="type"><%= cell.type %></div>
		<div class="menu">
			<a href="/admin/cells/<%= cell.id %>/edit" class="edit-link">edit</a>
			<a href="/admin/cells/<%= cell.id %>/delete" confirm="Delete this cell?">delete</a>
		</div>
	</div>
	<% if ( i === cells.length-1 || cells[i+1].type !== cell.type ) { %>
		</div>
	<% } %>
<% } %>
</div>