<% include ../_header %>
	<section id="main">
		<style type="text/css">
			form {
				padding-top: 18px
			}
			form input[type=text],
			form select,
			form textarea {
				width: 360px;
				margin: 0px 0px 9px 0px
			}
			form label {
				display: block;
			}
			form #fields input {
				width: 177px;
				margin: 0px 0px 4.5px 0px
			}
			form fieldset {
				margin: 0px 0px 18px 0px
			}
		</style>
		<script type="text/javascript">
			jQuery(function(){
				jQuery('#inp-preview').change(function(evt){

					var self = this;
					var $self = jQuery(this);

					jQuery('#img-preview-container').html('');

					var img = new Image();
					img.onload = function () {
						jQuery('#img-preview-container').css({
							border: '0px solid transparent',
							width: 'auto', height: 'auto'
						});
						jQuery('#img-preview-container').append(img);
					}
					img.onerror = function () {
						jQuery('#img-preview-container').css({
							border: '1px solid red',
							width: '360px', height: '72px',
							color: 'red'
						}).html( 'Not found ..' );
					}
					img.src = 'http://d35vpnmjdsiejq.cloudfront.net/dh/app/cells/'+$self.val();
				});
			});
		</script>
		<script src="/javascripts/cells-new.js" type="text/javascript"></script>
		<h1>Edit cell »<%= cell.title %>« (#<%= cell.id %>)</h1>
		<form id="form-cell" method="post" action="/admin/cells/<%= cell.id %>/save">
			<input type="hidden" name="user_id" value="<%= user.id %>"/>
			<input type="hidden" name="cell_id" value="<%= cell.id %>"/>
			<label for="title">Type</label>
			<select name="type">
				<% for ( var i = 0; i < types.length; i++ ) { %>
					<option value="<%= types[i] %>" <% if ( types[i] === cell.type ) { %>selected<% } %>><%= types[i] %></option>
				<% } %>
			</select>
			<label for="title">Title</label>
			<input type="text" name="title" value="<%= cell.title %>" /><br/>

			<label for="title">Preview</label>
			<input id="inp-preview" type="text" name="preview" value="<%= cell.preview %>" /><br/>
			<div id="img-preview-container"><img src="http://d35vpnmjdsiejq.cloudfront.net/dh/app/cells/<%= cell.preview %>" /></div><br />

			<label for="fields">Fields</label>
			<fieldset id="fields">
			
			<% for ( var i = 0; i < cell.fields.length; i++ ) { %>
				<input type="text" name="field_keys[]" value="<%= cell.fields[i].name %>" />
				<input type="text" name="field_values[]" value="<%= cell.fields[i].value %>" />
				<br />
			<% } %>

			<a id="add-fields" href="#">Add more</a><br/>
			</fieldset>

			<input type="submit" value="Save" />
		</form>
	</section>
<% include ../_footer %>