<% include ../_header %>
	<section id="main">
		<style type="text/css">
			
		</style>
		<h1 class="title"><%= cell.title %> - <span class="type"><%= cell.type %></span></h1>
		<br />
		
		<div class="actions">
			<a href="/admin/cells/<%= cell.id %>/edit">Edit</a> 
			<a href="/admin/cells/<%= cell.id %>/delete" confirm="Delete this cell?">Delete</a>
		</div>
		<br />

		<div class="poster">
			<img src="http://d35vpnmjdsiejq.cloudfront.net/dh/app/cells/poster/full/<%= cell.poster %>" style="max-height:500px;max-width:500px" /><img src="http://d35vpnmjdsiejq.cloudfront.net/dh/app/cells/poster/medium/<%= cell.poster %>" /><img src="http://d35vpnmjdsiejq.cloudfront.net/dh/app/cells/poster/small/<%= cell.poster %>" />
		</div>
		<br />

		Fields:<br />
		<% for ( var i = 0; i < cell.fields.length; i++ ) { %>
			<%= cell.fields[i].name %> = <%= cell.fields[i].value %><br />
		<% } %>
		<br />

		Sets:<br />
		<% for ( var i = 0; i < cell.sets.length; i++ ) { %>
			<a href="/admin/sets/<%= cell.sets[i].id %>"><%= cell.sets[i].title %></a><br />
		<% } %>

	</section>
<% include ../_footer %>