<% include ../_header %>
	<section id="main">
		<style type="text/css">
			
		</style>
		<h1><%= cell.title %></h1>
		
		Type: <%= cell.type %><br />
		
		<img src="http://d35vpnmjdsiejq.cloudfront.net/dh/app/cells/<%= cell.preview %>" /><br />
		Preview: <%= cell.preview %><br />

		Fields:<br />
		<% for ( var i = 0; i < cell.fields.length; i++ ) { %>
			<%= cell.fields[i].name %> = <%= cell.fields[i].value %><br/>
		<% } %>

		<nav><ul>
			<li><a href="/admin/cells/<%= cell.id %>/edit">Edit</a></li>
			<li><a href="/admin/cells/<%= cell.id %>/delete" confirm="Delete this cell?">Delete</a></li>
		</ul></nav>
	</section>
<% include ../_footer %>