<style type="text/css">@import url('/stylesheets/vimeo.css');</style>
<script type="text/javascript" src="/javascripts/vimeo.js"></script>
<div class="vimeo-video-list list">
<% for ( var i = 0; i < videoData.video.length; i++ ) { %>
	<% var video = videoData.video[i]; %>
	<div class="video list-item" data-id="<%= video.id %>">
		<% var thumbs = video.thumbnails.thumbnail; var video_thumb = thumbs[0]; %>
		<% for ( var t = 0; t < thumbs.length; t++ ) { %>
			<% if ( thumbs[t] !== video_thumb && 
					(1 * thumbs[t].width + thumbs[t].height) < 
					(1 * video_thumb.width + video_thumb.height) ) { %>
				<% video_thumb = thumbs[t] %>
			<% } %>
		<% } %>
		<div class="poster"><img src="<%= video_thumb._content %>" style="max-height:25px" /></div>
		<div class="title"><%= video.title %></div>
		<div class="actions">
			<span class="progress"></span> 
			<a class="import-action" href="/admin/vimeo/video/<%= video.id %>/import">import</a>
		</div>
	</div>
<% } %>
<% if ( parseInt(videoData.total) > parseInt(videoData.on_this_page) ) { %>
	<br/>
	<div class="list-actions">
		<a href="#" class="import-all-action">import all</a>
	</div>
	<br/>
	<ul class="pager">
	<% var total = parseInt(videoData.total), 
	       perpage = parseInt(videoData.perpage), 
		   page = parseInt(videoData.page); %>
	<% for ( var p = 1, t = Math.ceil(parseInt(videoData.total)/parseInt(videoData.perpage)); p <= t; p++ ) { %>
		<li class="pager-item <%= (p === page) && 'current-page' || '' %>"><a href="?page=<%= p %>"><%= p %></a></li>
	<% } %>
	</ul>
<% } %>
</div>